/*global settings*/

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #C7D59F;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

body {
    background-color: #DADDD8;
}

p {
    color: #8FB339;
    font-size: 1.2em;
}

button {
    outline: none;
    background-color: #B7CE63;
}

h1, h2 { 
    color: #8FB339;
    text-align: center;
    
}

li {
    list-style: none;
}

/*topbar*/ 

.topbar p {
    float: right;
}

/*big container settings*/

.big-box { 
    padding: 15px;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: start;
}

/*main container*/
.main-container {
    background-color: white;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*header aka intro text to quiz*/
.greeting, main {
    margin-top: 5vh;
    margin-right: 10%;
    margin-left: 10%;
    background-color: beige;
}

.greeting p {
    text-align: center;
}

.greeting button {
    display: block;
    margin: 0 auto;
}

/*questions and answers content*/

main {
    display: none;
}